
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #121212;
	color: #ffffff;
}
.container {
	position: relative;
	width: 400px;
	height: 400px;
}
#timer {
	font-size: 6em;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#controls {
	position: absolute;
	top: 20px;
	left: 20px;
}
.control-group {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.label {
	font-size: 1.2em;
	margin-left: 10px;
	color: #a9a9a9;
}
#minuteInput, #secondInput {
	font-size: 1.5em;
	width: 50px;
	text-align: center;
	border-radius: 5px;
	background-color: #000000;
	color: #a9a9a9;
	border: 1px solid #808080;
}
#startButton {
	font-size: 1.5em;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #2196F3;
	color: #000000;
	border: none;
	cursor: pointer;
	margin-top: 50px; /* Add margin to create space between timer and button */
}
.progress-ring {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.progress-ring__circle {
	fill: transparent;
	stroke: #4caf50;
	stroke-width: 30;
	stroke-dasharray: 1256;
	stroke-dashoffset: 0;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	transition: stroke-dashoffset 1s linear;
}
/* ----- Light-mode settings ----- */

.light-mode {
	background-color: #ffffff;
	color: #000000;
}
.light-mode .progress-ring__circle {
	stroke: #4caf50;
}
.light-mode .label {
	color: #515151;
}
.light-mode .settings-cell {
	color: #515151;
}
.light-mode .switch-label{
	color: #515151;
}
.light-mode #minuteInput, .light-mode #secondInput {
	background-color: #ffffff;
	color: #515151;
	border: 1px solid #808080;
}
.light-mode #audioSelect {
	background-color: #ffffff;
	color: #515151;
}

/* ----- Setting table ----- */

.settings-table {
	display: table;
	position: absolute;
	top: 20px;
	right: 20px;
}
.settings-row {
	display: table-row;
	
}
.settings-cell {
	display: table-cell;
	padding-right: 10px; <!-- /* Add padding between cells */ -->
	cursor: pointer;
	padding-bottom: 10px
}
.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	position: absolute;
	cursor: pointer;	
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
	border-radius: 20px;			
	cursor: pointer;
	
}
.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	transition: .4s;
	border-radius: 50%;
}
input:checked + .slider {
	background-color: #2196F3;
}
input:checked + .slider:before {
	transform: translateX(20px);
}

#audioSelect {
	background-color: #000000;
	color: #a9a9a9;
	border: 1px solid #808080;
	border-radius: 5px;
	padding: 5px;
}
.audioSelect-label {
	cursor: pointer;
	color: #a9a9a9;
	text-align: right;
	
}